<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <captcha>
                <always_for>
                    <ask_form>1</ask_form>
                </always_for>
            </captcha>
        </customer>
        <captcha translate="label">
            <frontend>
                <areas>
                    <ask_form>
                        <label>Ask about this product form</label>
                    </ask_form>
                </areas>
            </frontend>
        </captcha>
    </default>
</config>
