<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="chatbox_listing_data_source" xsi:type="string">
                    Iuriis\Chatbox\Model\ResourceModel\Message\Grid\Collection
                </item>
                <item name="chatbox_listing_form_data_source" xsi:type="string">
                    Iuriis\Chatbox\Model\ResourceModel\Message\Grid\ChatMessageCollection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Iuriis\Chatbox\Model\ResourceModel\Message\Grid\ChatMessageCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult"
    >
        <arguments>
            <argument name="mainTable" xsi:type="string">iuriis_chatbox</argument>
            <argument name="resourceModel" xsi:type="string">Iuriis\Chatbox\Model\ResourceModel\Message</argument>
        </arguments>
    </virtualType>

    <type name="Iuriis\Chatbox\Model\ResourceModel\Message\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">iuriis_chatbox</argument>
            <argument name="resourceModel" xsi:type="string">Iuriis\Chatbox\Model\ResourceModel\Message</argument>
        </arguments>
    </type>
</config>