<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="iuriis_ask_about_this_product" frontName="email-ask-product">
            <module name="Iuriis_AskAboutThisProduct" />
        </route>
    </router>
</config>