<div id="iuriis-chat-box" data-bind="attr: { class: chatBoxClass }">
    <div id="body-box-chat">
        <p class="default-message">
            <span translate="'Please, ask a questions!'"></span></p>
        <ul class="chat-message-list" data-bind="foreach: allMessages()">
            <li class="customer-message">
                <span class="message" data-bind="text: message"></span>
                <sup class="date-time" data-bind="text: created_at"></sup>
                <span class="author_type" data-bind="value: author_type"> </span>
            </li>
        </ul>
    </div>

    <form action="javascript:void(0);"
          class="form"
          method="post"
          data-bind="submit: saveMessage"
    >
        <label for="user-message-question"></label>
        <textarea id="user-message-question"
                  data-bind="
                    value: message,
                    attr: {
                        title: $t('Textarea'),
                    }"
                  name="message"
                  autofocus
                  rows="1"
        ></textarea>
        <button type="submit"
                class="action primary"
                id="iuriis-chat-send-ask"
                data-bind="attr: {title: $t('Send')}"
        >
            <span translate="'Send'"></span>
        </button>
        <button type="button"
                id="iuriis-chat-close-chat-button"
                data-bind="
                    attr: {title: $t('Close')},
                    click: closeChat
                "
        >
            <span translate="'Close'"></span>
        </button>
    </form>
</div>