<div id="iuriis-chat-box" data-bind="attr: { class: chatBoxClass }">
    <div id="body-box-chat">
        <p class="message admin-message">
            <span translate="'Please, ask a questions!'"></span></p>
        <ul class="chat-message-list"></ul>
    </div>

    <div class="textarea-box-chat">
        <form action="javascript:void(0);"
              class="form"
              method="post"
              >
            <label data-bind=" attr: {'for': 'user-message-question'}"></label>
            <textarea data-bind="
                attr: {
                    name: 'messages',
                    title: $t('Textarea'),
                    id: 'user-message-question'}"
                      autofocus
                      rows="1"
            ></textarea>
        </form>
    </div>

    <button type="submit"
            class="action primary"
            id="iuriis-chat-send-ask"
            data-bind="attr: {title: $t('Send'),
                    click: submitMessage }"
    >
        <span translate="'Send'"></span>
    </button>

    <button type="button"
            id="iuriis-chat-close-chat-button"
            data-bind="attr: {title: $t('Close')},
                    click: closeChat "
    >
        <span translate="'Close'"></span>
    </button>
</div>