& when (@media-common = true) {

    .iuriis-chat-open-button {
        bottom: 30px;
        position: fixed;
        right: -50px;
        z-index: 10;
        padding: 0;

        &.active {
            right: 0;
        }
    }

    .open-chat-box-button {
        .lib-icon-font(
            @_icon-font-content: @icon-comment,
            @_icon-font-size: 50px,
            @_icon-font-position: @icon__position,
            @_icon-font-color: @color-dark-orange
        );
    }


    #iuriis-chat-box {
        background-color: @color-white;
        border: @border-width__base solid @border-color__base;
        bottom: 30px;
        display: block;
        max-height: 400px;
        padding: 30px;
        position: fixed;
        right: -370px;
        transition-property: right;
        transition-duration: .3s;
        overflow-y: scroll;
        width: 300px;
        z-index: 15;

        &.active {
            right: 0;
        }
    }

     .message {
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
        width: fit-content;
        font-size: @font-size__base;
        background-color: @color-brownie-light1;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }

    .admin-message {
        background-color: @color-blue-dodger;
        display: flex;
        align-self: flex-start;
    }

    .chat-message-list {
        list-style: none;
        padding-left: 0;
    }

    .chat-message {
        display: flex;
        flex-direction: column;
    }


    .admin {
        align-self: flex-start;
        background-color: #008bdb;
    }

    .date-time {
        display: flex;
        justify-content: flex-end;
        font-size: @font-size__base;
    }

    //span.message-time {
    //    font-size: @font-size__base;
    //    padding-left: 10px;
    //}

    #iuriis-chat-send-ask,
    #iuriis-chat-close-chat-button {
        width: 45%;
        margin: 5px;
    }

    .toggle-widget {
        bottom: 5px;
        font-size: @font-size__xl;
        position: fixed;
        right: 0;
        z-index: 10;
        padding: 0;
        width: 50px;
        height: 30px;
    }


    ///
    /// Mobile
    ///
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .iuriis-chat-open-button {
        bottom: auto;
        position: absolute;
        right: 0;
        z-index: 10;
        margin: 10px 80px;
        width: 25px;
        height: 25px;

    }

    #iuriis-chat-box {
        max-width: 258px;
        max-height: 200px;
    }

    #iuriis-chat-send-ask,
    #iuriis-chat-close-chat-button {
        width: 40%;
        margin: 10px;
    }

    .toggle-widget {
        display: none;
    }
}